@model VivesBlog.Model.Article

<tr>
	<td>@Model.Title</td>
	<td>@Model.Author.FirstName @Model.Author.LastName</td>
	<td>@Model.CreatedDate.ToString("dd/MM/yyyy HH:mm")</td>
	<td>
		<a class="btn btn-light" asp-action="BlogEdit" asp-route-id="@Model.Id">Edit</a>
		<a class="btn btn-danger" asp-action="BlogDelete" asp-route-id="@Model.Id">Delete</a>
	</td>
</tr>